# Data types in Python - Assignment 1
Business Analytics & Business Intelligence  <br>
Deepak KC, deepak.kc@hamk.fi, 2020 <br>
                Total Points 26 <br>
                             ***To pass you need to get atleast 15 points***

Task 1: Create a string (name), an integer (num) and a floating point number (fnum). Assign your name to name, 25 to num and 56.78 to fnum. Print the output for all 3 variables. (6 points)

In [1]:
#name
name = "Marek"
#num
num = 25
#fnum
fnum = 56.78
#print name
print(name)
#print num
print(num)
#print fnum
print(fnum)

Marek
25
56.78

Task 2: Use the capitalize() method to convert the first character of a string to uppercase letter. (1 point)

In [8]:
mystring = "this is getting interesting."
#use capitalize method
#print the capitalized string
print(mystring.capitalize())

This is getting interesting.

Task 3: The find() method returns the index of first occurence of the substring if it is found and if it does not find it returns -1. Use find() method to complete the code below. (1 point)

In [9]:
text = "Python is an easy to learn language"
result = text.find ('learn')
#print result
print (result)

21

Task 4: It is possible to assign the same value to multiple variables at once in Python. Complete the code below. (1 point)

In [11]:
# create 3 variables a,b & c & 
a,b,c =6,6,6
# assign 1 as value to all variables in the same statement
# incorrect answer if it a=1 b=1 c=1  

#print a
#print b
#print c
print (a,b,c)

6 6 6

Task 5: Complete tasks as in the comment below (5 Points)

In [21]:
a = "I like python"
print(len(a)) # use the len method to print the length of the string
print(a[0]) # print the first character of the string
print(a.upper()) # print the string in uppercase letters 
newtext = ("%d Niin %s vastaa, %s sinne huudetaan" % (1,'metsa','kuin'))
# it should print 1 Niin mets√§ vastaa, kuin sinne huudetaan
print(newtext) # print the newtext

13
I
I LIKE PYTHON
1 Niin metsa vastaa, kuin sinne huudetaan

Task 6: Create a list named mylist and include 5 different data items. (4 points)

In [22]:
mylist = ['dog','cat','rat','fly', 6]  # it should contain 5 different data items
print(mylist) # print the entire list
print(mylist[1]) # print only the second element
#use append to add one more item to your list 
mylist.append(8)
print(mylist) #print the entire list

['dog', 'cat', 'rat', 'fly', 6]
cat
['dog', 'cat', 'rat', 'fly', 6, 8]

Task 7: Tuple (3 points)

In [23]:
courses = ("Introduction to IoT & Cloud", "Python Basics for IoT", "Python Project")
print(len(courses)) #use len method to print the number of items(courses) in the tuple courses.
print(courses) #print all items in the tuple courses
print(courses[2]) #print the third item in the tuple

3
('Introduction to IoT & Cloud', 'Python Basics for IoT', 'Python Project')
Python Project

Task 8: Dictionary (5 points)

In [35]:
#create a dictionary with the key as course, time and ects
    #values as Python Basics, Autumn, 5
test = { 
    'course':'Python Basics','time':'Autumn','ects':[5]
}
print(test['course'])           #use get method to print the value of the course
test['course'] = 'IoT'          #change the course value to Python Basics for IoT
test['year'] = 2019             #add the key/value pair as year:2019 to the test dictionary
print(test)                     #print the entire dictionary
print(test.pop('time'))         #use pop method to remove time form the dictionary
print(test)

Python Basics
{'course': 'IoT', 'time': 'Autumn', 'ects': [5], 'year': 2019}
Autumn
{'course': 'IoT', 'ects': [5], 'year': 2019}