# Data types in Python - Assignment 1
Business Analytics & Business Intelligence  <br>
Deepak KC, deepak.kc@hamk.fi, 2020 <br>
                Total Points 26 <br>
                             ***To pass you need to get atleast 15 points***

Task 1: Create a string (name), an integer (num) and a floating point number (fnum). Assign your name to name, 25 to num and 56.78 to fnum. Print the output for all 3 variables. (6 points)

In [14]:
#name
name = "John Adekunle"
#num
num = 25
#fnum
fnum = 56.78
#print name
print (name)
#print num
print (num)
#print fnum
print (fnum)

John Adekunle
25
56.78

Task 2: Use the capitalize() method to convert the first character of a string to uppercase letter. (1 point)

In [5]:
mystring = "this is getting interesting."
#use capitalize method
#print the capitalized string
mycapital_string = mystring.capitalize()
print (mycapital_string)

This is getting interesting.

Task 3: The find() method returns the index of first occurence of the substring if it is found and if it does not find it returns -1. Use find() method to complete the code below. (1 point)

In [6]:
text = "Python is an easy to learn language"
#find learn
#print result  
result = text.find("learn")
print (result)

21

Task 4: It is possible to assign the same value to multiple variables at once in Python. Complete the code below. (1 point)

In [9]:
# create 3 variables a,b & c & 
# assign 1 as value to all variables in the same statement
# incorrect answer if it a=1 b=1 c=1  

#print a
#print b
#print c

a, b, c = 1, 1, 1
print (a, b, c)

1 1 1

Task 5: Complete tasks as in the comment below (5 Points)

In [21]:
a = "I like python"
plength = len(a) 
print (plength) # use the len method to print the length of the string

plength = a[0] 
print ('First character : ', plength) # print the first character of the string

plength = a.upper()
print(plength) # print the string in uppercase letters 

newtext = "%d Niin %s vastaa, %s sinne huudetaan" % (1, 'metsä', 'kuin') 
# it should print 1 Niin metsä vastaa, kuin sinne huudetaan
print(newtext) # print the newtext

13
First character :  I
I LIKE PYTHON
1 Niin metsä vastaa, kuin sinne huudetaan

Task 6: Create a list named mylist and include 5 different data items. (4 points)

In [22]:
mylist = ["Tomatoes", "50€", "Rice", "80€", 5.8 ]    # it should contain 5 different data items
print(mylist) # print the entire list
print (mylist [1]) # print only the second element
mylist.append('Fish') #use append to add one more item to your list 
print(mylist) #print the entire list

['Tomatoes', '50€', 'Rice', '80€', 5.8]
50€
['Tomatoes', '50€', 'Rice', '80€', 5.8, 'Fish']

Task 7: Tuple (3 points)

In [23]:
courses = ("Introduction to IoT & Cloud", "Python Basics for IoT", "Python Project")
print(len(courses)) #use len method to print the number of items(courses) in the tuple courses.
print(courses) #print all items in the tuple courses
print(courses[2]) #print the third item in the tuple

3
('Introduction to IoT & Cloud', 'Python Basics for IoT', 'Python Project')
Python Project

Task 8: Dictionary (5 points)

In [6]:
#create a dictionary with the key as course, time and ects
    #values as Python Basics, Autumn, 5
test = {
        "course": "Python Basics", 
        "time": "Autumn", 
        "ects": 5
        }
print(test.get("course")) #use get method to print the value of the course

test["course"] = "Python Basics for IoT" 
print(test) #change the course value to Python Basics for IoT

test["year"] = 2019 #add the key/value pair as year:2019 to the test dictionary

print(test) #print the entire dictionary

test.pop("time")
#use pop method to remove time form the dictionary

Python Basics
{'course': 'Python Basics for IoT', 'time': 'Autumn', 'ects': 5}
{'course': 'Python Basics for IoT', 'time': 'Autumn', 'ects': 5, 'year': 2019}

'Autumn'