# Exercise 1: This exercise focuses on preprocessing your data. Make sure that you have studied Chapter 1 & Chapter 2 before starting this exercise.

In [ ]:
# 1.  Import all required tools (modules/libraries)

In [ ]:
# 2. Load the titanic data set that is available in Moodle. Please check required files. It is named as titanic.csv

# 3. CLeaning the dataset:

In [ ]:
# 3.1 Print all columns.

In [ ]:
# 3.2 Print the number of rows and columns.

In [ ]:
# 3.3 Create a subset of the columns: name, sex, age, pclass, survived and store it in a variable as df1

In [ ]:
# 3.4 You will continue to work with the new subset of your data df1. Check how many datas are missing per column from the new subset of you data?

In [ ]:
# 3.5 What percentage of the data is missing from the dataset (df1)?

In [ ]:
# 3.6 Create a new DataFrame called titanic_na_dropped_col (from the orginal dataset) by removing all columns that has missing value.

In [ ]:
# 3.7 How many columns were removed from the original data set?

In [ ]:
# 3.8 Fill in the missing values automatically that is replace NaN's in the df data with the one that comes directly after it and then replace any remaining NaN's with 0.

In [ ]:
# 3.9 Check if you have any missing values in the new dataset (the one created in 3.8).

In [ ]:
#4. Create a new dataframe as df12 with columns pclass, survived, sex, age & fare

In [ ]:
#5 Replace sex from df12 as male:1 and female:0 in a new dataframe as df3
# Before doing the replacement check for unique values in the column sex
# you will notice that there are 3 different values 
# one of the value does not make any sense, locate it and delte the value
# Now Replace sex from df12 as male:1 and female:0 in a new dataframe as df3
# count the number of male and female in df12 and also in df3. Check if the numbers are same.