# Pandas for Getting and Knowing your Data

Lets pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

In [ ]:
### Step 1. Import the necessary libraries
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this url https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv

### Step 3. Assign it to a variable called chipo.

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [ ]:
chipo.head(10)

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1

chipo.shape[0]  # entries <= 4622 observations

In [ ]:
# Solution 2

chipo.info() # entries <= 4622 observations

### Step 6. What is the number of columns in the dataset?

In [ ]:
chipo.shape[1]

### Step 7. Print the name of all the columns.

In [ ]:
chipo.columns

### Step 8. How is the dataset indexed?

In [ ]:
chipo.index

### Step 9. Which was the most-ordered item?

In [ ]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)
# Diet Coke 159

### Step 12. How many items were orderd in total?

In [ ]:
total_items_orders = chipo.quantity.sum()
total_items_orders

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [ ]:
chipo.item_price.dtype

#### Step 13.c. Check the item price type

In [ ]:
chipo.item_price.dtype

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
revenue = (chipo['quantity']* chipo['item_price']).sum()

print('Revenue was: $' + str(np.round(revenue,2)))

### Step 15. How many orders were made in the period?

In [ ]:
orders = chipo.order_id.value_counts().count()
orders

### Step 16. What is the average revenue amount per order?

In [ ]:
# Solution 1

chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

In [ ]:
# Solution 2

chipo.groupby(by=['order_id']).sum().mean()['revenue']

### Step 17. How many different items are sold?

In [ ]:
chipo.item_name.value_counts().count()